/* _Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
}

body, input, button, textarea {
    font-size: 1.6rem;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
}

/* General */

h1, h2, h3, h4 {
    padding-bottom: 2.4rem;
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: normal;
}

a:hover,
a:focus {
    color: #59b;
}

.hidden {
    max-height: 0;
}

input {
    padding: .6rem 1rem;
    border-radius: .4rem;
    background: #59b;
    color: #111;
    border: 0;
}

input[type='submit'] {
    background: #fff;
    color: #111;
}

input[type='submit']:focus,
input[type='submit']:hover {
    color: #59b;
    background: #000;
    cursor: pointer;
}

/* _Widths */

.inner {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: 100%;
    max-width: 70rem;
}

@media screen and (min-width: 992px) {
    .inner {
        max-width: 80rem;
    }
}

@media screen and (min-width: 1200px) {
    .inner {
        max-width: 90rem;
    }
}

/* _Header */

header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #000;
    color: #fff;
    box-shadow: 0 1.6rem 3.2rem rgba(0,0,0,.1);
}

header .inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-height: 7.2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

header a:hover,
header a:focus {
    color: #59b !important;
}

#branding a {
    display: flex;
    align-items: center;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}

a:focus #log,
a:hover #logo {
    filter: brightness(0) saturate(100%) invert(73%) sepia(7%) saturate(4192%) hue-rotate(169deg) brightness(79%) contrast(79%);
}

#logo {
    width: 2.4rem;
    margin-bottom: -.1rem;
    margin-right: .8rem;
}

#site_name {
    font-size: 4rem;
    padding-bottom: 0;
} 

#toggle {
    display: none;
}

#links {
    display: flex;    
    align-items: flex-end;
    list-style: none;
    height: 100%;
}

#links a {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 3.2rem;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    color: #fff;
}

#links li:last-child a {
    padding-right: 0;
} 

@media screen and (max-width:767px) { /* Mobile Menu */

    header {
        transition: max-height .2s;
    }

    #main-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

	#toggle {
		display: block;
	}

	#links {
        flex-direction: column;
        overflow-y: hidden;
        transition: max-height .2s;
	}

    #links a {
        display: block;
        padding: 1.4rem 0 0;
    }

}

/* _Content */

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

main .inner {
    display: flex;
    flex-direction: column;
}

#page-title {
    margin-bottom: -1.6rem;
    padding-top: calc(3.2rem + 7.2rem);
    padding-bottom: 0
}

.region-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#block-system-main {
    flex-grow: 1;
}

.region-content > .block {
    display: flex;
    align-items: center;
    padding: 3.2rem 0;
    flex-direction: column;
}

.region-content > .block:nth-child(2n) {
    background: #eee;
}

.region-content > .block > .content {
    padding: 0 1.6rem;
}


/* _Footer */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #000;
    background-image: url('https://camilledavis.com/img/dark.png');
    background-attachment: fixed;
    color: #eee;
}

.region-footer {
    display: flex;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    justify-content: space-between;
    width: 100%;
}

.region-footer .inner {
    padding-left: 0;
}

.region-footer .block:last-child .inner {
    padding-right: 0;
}

@media screen and (max-width: 991px) {

    .region-footer {
        flex-wrap: wrap;    
        padding-bottom: 0;
    }

    .region-footer .block {
        width: 50%;
        margin-bottom: 3.2rem;
    }

}

@media screen and (max-width: 767px) {

    .region-footer {
        flex-direction: column;
    }

}

footer a {
    color: #fff;
}

footer a:hover,
footer a:focus {
    color: #59b;
}

footer li {
    list-style: none;
}

footer h2 {
    padding-bottom: 1.6rem;
}


/* _Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

button.hamburger {
    padding: 0;
    display: block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-top: -.2rem;
    overflow: visible;
}

.hamburger-box {
    width: 4rem;
    height: 4rem;
    display: block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 4rem;
    height: .5rem;
    background-color: #fff;
    border-radius: .4rem;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -1rem;
}
.hamburger-inner::after {
    bottom: -1rem;
}
/*
* Squeeze
*/
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
bottom: 0;
transform: rotate(-90deg);
transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* _Search Form */

#block-search-form h2 {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
}

#search-block-form .form-item {
    margin: 0;
}

#search-block-form .container-inline {
    display: flex;
    align-items: center;
}

#search-block-form #edit-search-block-form--2 {
    border-radius: .3rem 0 0 .3rem;
}

#search-block-form #edit-submit {
    border-radius: 0 .3rem .3rem 0;
}
